mark {
  background-color: transparent !important;
  color: currentColor !important;
}
.masterlingo {
  &__marked-word {
    color: #db755e !important;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    &:hover {
      color: #dba294 !important;
    }
  }
  &__translation-box {
    flex-direction: column;
    color: $color-black;
    font-family: 'Proxima Nova';
    position: relative;
  }
  &__new-card--translations {
    width: auto;
    max-width: 270px;
    min-width: 160px;
    min-height: 100px;
    background-color: $color-white;
    width: max-content;
    font-family: 'Proxima Nova';
    overflow-wrap: break-word;
  }
  &__new-card--header {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid $color-grey-light-1;
    font-family: 'Proxima Nova';
  }
  &__new-card--term {
    font-size: 25px;
    margin-right: 8px;
    font-weight: 500;
    font-family: 'Proxima Nova';
  }
  &__new-card--pos {
    font-family: 'Proxima Nova';
    font-style: italic;
    color: $color-grey-light-3;
    margin-right: 10px;
    user-select: none;
  }

  &__new-card--audio {
    cursor: pointer;
    margin-left: auto;
  }
  &__new-card--translation-container {
    display: inline-block;
    width: max-content;
    position: relative;
    &:last-of-type {
      margin-right: 25px !important;
    }
    &:last-child {
      margin-right: 25px !important;
    }
  }
  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 15px;
    font-family: 'Proxima Nova';
    span {
      color: $color-green;
    }
  }
  &__new-card--translation {
    font-family: 'Proxima Nova';
    font-size: 17px;
    display: inline-block;
    border-radius: $border-radius;
    @include transition-1;
    align-items: center;
    padding: 6px 8px 6px 22px;
    background-color: $color-grey-light-2;
    cursor: pointer;
    margin: 4px;
    position: relative;
    user-select: none;
    color: $color-grey-dark-1 !important;
    &:hover {
      background-color: $color-green;
      // transform: scale(1.05);
      &::before {
        transform: translateY(-50%) rotate(0deg) !important;
      }
    }
    &::after,
    &::before {
      content: '';
      height: 12px;
      position: absolute;
      width: 2px;
      background-color: $color-grey-dark-1;
      top: 50%;
      left: 10px;
      border-radius: 1px;
      transition: all 0.2s;
      transform: translateY(-50%) rotate(90deg);
      z-index: 1000;
    }
    &.saved-translation {
      background-color: lighten($color-green, 20%);
      transform: scale(0.95);
      &::before {
        transform: translateY(-50%);
      }
      &::after,
      &::before {
        width: 3px;
      }
      box-shadow: none;
    }
  }
  &__new-card--container {
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  &__translation-box {
    background-color: $color-white;
    min-width: 250px;
    min-height: 110px;
  }
  &__translation-box,
  &__new-card-box {
    transform: translate(-50%, -100%);
    &::after {
      clip-path: polygon(0 0, 100% 0, 50% 100%);
      top: 100%;
    }
  }
  &__translation-box,
  &__new-card-box,
  &__new-card--button {
    position: absolute;
    display: none;
    @include box-shadow-1;
    border: 1px solid $color-grey-dark-1;
    box-sizing: border-box;
    border-radius: $border-radius;
    color: $color-grey-dark-1;
    &--active {
      display: flex;
      z-index: 1000;
      &::after {
        opacity: 1 !important;
        z-index: 1000;
      }
    }
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 15px;
      width: 20px;
      background-color: #666;
      opacity: 0;
    }
  }
  &__new-card--button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: $color-blue;
    color: $color-red-light;
    cursor: pointer;
    transform: translate(-50%, 100%);
    transition: background-color 0.3s;
    font-family: 'Proxima Nova';
    &:hover {
      background-color: lighten($color-blue, 5);
    }
    &::after {
      clip-path: polygon(0 100%, 100% 100%, 50% 0%);
      top: -15px;
    }
    span {
      color: $color-green !important;
    }
  }
  &__volume-icon {
    position: absolute;
    top: 7px;
    right: 7px;
    &--new {
      justify-self: flex-end;
      margin-left: auto;
      transform: translateY(5px);
    }
    &,
    &--new {
      color: $color-grey-light-3;
      font-size: 25px !important;
      user-select: none !important;
      cursor: pointer;
      &:hover {
        color: $color-green;
      }
    }
  }
  &__new-card-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__delete-icon {
    position: absolute;
    left: 7px;
    top: 9px;
    color: $color-grey-light-2;
    font-size: 21px !important;
    cursor: pointer;
    user-select: none !important;
    transition: color 0.5s ease;
    &:hover {
      color: $color-grey-light-3;
    }
  }
  &__translations-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 30px 12px 14px 12px;
    text-align: center;
    color: $color-grey-dark-1;
  }

  &__rating-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 27px;
    box-sizing: border-box;
    & > div {
      z-index: 0;
      cursor: pointer;
      font-weight: 500;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-grey-dark-1;
      font-size: 11px;
      transition: all 0.4s ease, color 0.5s ease, background-color 0.5s ease;
      margin: 0;
      &:hover {
        z-index: 1000;
        color: $color-white;
      }
    }
  }

  &__rating-button {
    &--incorrect {
      background-color: $color-red-light-2;
      &:hover {
        background-color: $color-red-light;
      }
    }
    &--correct {
      background-color: $color-green-light;
      &:hover {
        background-color: $color-green;
      }
    }
    &--easy {
      background-color: $color-blue-light;
      &:hover {
        background-color: $color-blue;
      }
    }
  }
}
