.masterlingo__marked-word {
  color: #db755e !important;
  cursor: pointer;
}

.masterlingo__marked-word:hover {
  color: #dba294 !important;
}

mark.masterlingo__marked-word {
  background-color: transparent;
  padding: 0;
}

mark {
  background-color: transparent !important;
  color: currentColor !important;
}

.masterlingo__translation-box {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: yellow;
  display: none;
  transform: translate(-50%, -100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0% 90%);
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.masterlingo__translation-box--active {
  display: block;
}

.masterlingo__original-word--container {
  display: flex;
}
.masterlingo__original-word {
  font-size: 20px;
}

.masterlingo__translations-container {
  display: flex;
}

.masterlingo__rating-buttons {
  display: flex;
}
